doctype html
html
  head
    title The Krusty Krab
    link(rel='stylesheet', href='/stylesheets/index.css')
    link(rel='stylesheet', href='/stylesheets/error.css')
  body
      div.background_error
          h1.page #{error.status} #{message}