doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/index.css')
  body
    div.background_index
      h1.title= title
      p.page Welcome to #{title}
      ul(class='index_buttons')
        if is_admin
          li
            div.board_on_background
              a(href='/admin/menu') Menu
          li
            div.board_on_background
              a(href='/admin/tables') Book a table
          li
            div.board_on_background
              a(href='/admin/staff') Staff
          li
            div.board_on_background
              a(href='/admin/self') Self
        else
          li
            div.board_on_background
              a(href='/menu') Menu
          li
            div.board_on_background
              a(href='/tables') Book a table
          li
            div.board_on_background
              a(href='/staff') Staff
          li
            div.board_on_background
              a(href='/self') Self

    //img.image(src='images/index.jpg')

//extends layout
//
//block content
//  h1= title
//  p Welcome to #{title}
//  button.buttonComponent(href='/menu')
//    // @slot Use this slot default
//    b Text Bonjour
//    slot
