doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1= title
    p Welcome to #{title}
    ul(class='index_buttons')
      if is_admin
        li
          a(href='/admin/menu') Menu
        li
          a(href='/admin/tables') Book a table
        li
          a(href='/admin/staff') Staff
        li
          a(href='/admin/self') Self
      else
        li
          a(href='/menu') Menu
        li
          a(href='/tables') Book a table
        li
          a(href='/staff') Staff
        li
          a(href='/self') Self

    img(src='images/index.jpg')

//extends layout
//
//block content
//  h1= title
//  p Welcome to #{title}
//  button.buttonComponent(href='/menu')
//    // @slot Use this slot default
//    b Text Bonjour
//    slot
