doctype html

html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/index.css')
        link(rel='stylesheet', href='/stylesheets/tables.css')
    body
        div.background_tables
            h1.title= title
            p.page Столик #{number}
            if table_status
                p.description Статус столика: не забронирован
            else
                p.description Статус столика: забронирован
            p.description Описание: #{description}

            if table_status
                form(method='POST', action='')
                    input.text(name='name', value='', type='text', placeholder="Кодовое слово для брони (Имя)")
                    input.submit(value='Забронировать столик', type='submit')
            else
                if is_admin
                    form(method='POST', action= number + '/open')
                        input.submit(value='Снять бронь', type='submit')
            if is_admin
                form(method='POST', action= number + '/delete')
                    input.submit(value='Удалить столик', type='submit')
                div.board_on_background
                    a(href='/admin/tables') Назад
            else
                div.board_on_background
                    a(href='/tables') Назад



        //img(src='/images/tables.jpg')